swagger: '2.0'
info:
  description: 'Access information from the CyberRisk platform programmatically using this API.


    You can find or generate an API key to access this API in your CyberRisk Account Settings.

    Please authorize all requests by setting the "Authorization" header to your api key.


    The base url for all public endpoints is https://cyber-risk.upguard.com/api/public'
  title: UpGuard CyberRisk breaches vendors API
  version: 1.13.2
host: cyber-risk.upguard.com
basePath: /api/public
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- API key in header: []
tags:
- name: vendors
paths:
  /fourth_party/list:
    get:
      description: 'Returns a paginated list of fourth party (supply chain / concentration risk) vendors and their products

        for the watched vendors in your organisation.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List fourth party vendors
      operationId: fourth_parties_params
      parameters:
      - type: integer
        format: int64
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 500 if unset.'
        name: page_size
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: array
        items:
          type: string
        description: Filter by label names. Only vendors with all of the provided labels will be returned. If a label does not exist, 422 will be returned.
        name: labels
        in: query
      - type: array
        items:
          type: integer
          format: int64
        description: Filter by vendor tier. Only vendors in the specified tiers will be returned.
        name: tier
        in: query
      - type: integer
        format: int64
        description: 'Filter by watched vendor score. Only fourth party vendors used by watched vendors with a

          score greater than or equal to this value will be returned.

          Valid range: 0-950.'
        name: min_score
        in: query
      - type: integer
        format: int64
        description: 'Filter by watched vendor score. Only fourth party vendors used by watched vendors with a

          score less than or equal to this value will be returned.

          Valid range: 0-950.'
        name: max_score
        in: query
      - type: array
        items:
          type: string
        description: Filter by portfolio names. Only vendors in these portfolios will be returned. If a portfolio does not exist, 422 will be returned.
        name: portfolios
        in: query
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetFourthPartiesV1RespBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /onboarding_request:
    get:
      description: 'Returns detailed information about a specific vendor onboarding request, including vendor data and assessment links.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Get onboarding request details
      operationId: onboardingRequestGet
      parameters:
      - type: integer
        format: int64
        example: 12345
        description: The ID of the onboarding request (survey ID)
        name: id
        in: query
        required: true
      responses:
        '200':
          description: Onboarding request details response
          schema:
            $ref: '#/definitions/OnboardingRequestDetail'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /onboarding_request/list:
    get:
      description: 'Returns a paginated list of vendor onboarding requests for the organization.


        Note: The id of the onboarding request is also the survey_id of the corresponding onboarding request questionnaire.

        You can download the question and answers of the onboarding request questionnaire using Get questionnaire questions and answers


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List onboarding requests
      operationId: onboardingRequestsList
      parameters:
      - type: integer
        format: int64
        example: 100
        description: Number of results per page (1-2000)
        name: page_size
        in: query
      - type: string
        description: Token for the next page of results
        name: page_token
        in: query
      - enum:
        - vendor_name
        - status
        - created_at
        - completed_at
        - progress
        - submitted_by
        type: string
        example: created_at
        description: 'Field to sort by


          Sort order for status is: Complete, Sent, In Progress, In Review, Assessment Underway, Awaiting Review


          Sort by submitted_by sorts by the name of the submitter'
        name: sort_by
        in: query
      - type: boolean
        example: true
        description: Sort in descending order, sorts in ascending order if unset
        name: sort_desc
        in: query
      - type: string
        example: Assessment Underway,Complete
        description: 'Comma-separated list of statuses to filter by


          Valid values: Complete,Sent,In Progress,In Review,Assessment Underway,Awaiting Review'
        name: status
        in: query
      - type: boolean
        example: false
        description: Filter by archived status
        name: archived
        in: query
      - type: string
        example: acme
        description: Text to search for in vendor name or submitter name
        name: filter_text
        in: query
      responses:
        '200':
          description: List of onboarding requests
          schema:
            $ref: '#/definitions/OnboardingRequestsListRespBody'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor:
    get:
      description: 'The following assertions are evaluated (in order) to determine whether you are licensed to view the vendor data (as soon as one assertion returns "true", the vendor data will be returned):

        1. You are currently monitoring the vendor in CyberRisk

        2. You have set "start_monitoring" to "true" AND are not currently monitoring all the vendors you are licensed for in CyberRisk

        3. You have set "generate_ad_hoc_report" to "true" and have not currently used your monthly allocation of ad-hoc reports in CyberRisk.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Get vendor details
      operationId: vendor
      parameters:
      - type: integer
        format: int64
        example: 123456789
        description: The ID of the vendor for which to return vendor data. e.g. 123456789
        name: id
        in: query
      - type: string
        example: upguard.com
        description: 'The hostname for which to return vendor data. e.g. "upguard.com".

          Required when id is not specified. When id is specified this field will be ignored.'
        name: hostname
        in: query
      - type: boolean
        description: 'When set to true, if you haven''t already used your monthly allocation of ad-hoc reports,

          generate an ad-hoc report for the given vendor, and return the vendor data.'
        name: generate_ad_hoc_report
        in: query
      - type: boolean
        description: 'NOTE: deprecated (use vendor/monitor instead).

          When set to true, if the vendor is not already being monitored,

          and if you are not already monitoring all the vendors your are licensed for,

          start monitoring the vendor, and return the vendor data.'
        name: start_monitoring
        in: query
      - type: array
        items:
          type: string
        description: 'NOTE: deprecated (use vendor/monitor instead).

          The labels to assign to the vendor if start monitoring set to true.

          If you want to update the labels for an already monitored vendor use the /vendor/labels endpoint.'
        name: labels
        in: query
      - type: integer
        format: int64
        description: 'NOTE: deprecated (use vendor/monitor instead).

          The tier to assign to the vendor if start monitoring is set to true.'
        name: tier
        in: query
      - type: boolean
        default: false
        description: Flag indicating whether the request should wait for scan results on new unknown vendors
        name: wait_for_scan
        in: query
      responses:
        '200':
          description: Vendor details
          schema:
            $ref: '#/definitions/vendor'
        '202':
          description: The vendor does not currently exist in the system and has been scheduled for addition
        '402':
          description: You are not allowed to access the vendor for licensing reasons.
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/additionalevidence:
    get:
      description: 'Returns the body of one or more additional evidence documents that have been attached to a specific vendor.

        If multiple additional evidence documents are requested, then by default the files are returned as a multi-part mime response.

        Alternately, the zip option can be used to return multiple files as a single zip archive'
      produces:
      - image/jpeg
      - image/png
      - application/octet-stream
      - 'Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Retrieve (one or more) vendor additional evidence documents by id
      operationId: additional_evidence
      parameters:
      - type: array
        items:
          type: integer
          format: int64
        description: a comma-separated list of one or more additional evidence instances (by unique id)
        name: evidence_ids
        in: query
      - type: boolean
        description: indicates that for multiple additional evidence requests, the files should be returned as a multi-file zip
        name: zip
        in: query
      responses:
        '200':
          description: Vendors additional evidence
          schema:
            $ref: '#/definitions/GetVendorAdditionalEvidenceResponsePayload'
        '300':
          description: Request requires multipart receipt ability
          schema:
            $ref: '#/definitions/endpoint300Error'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/additionalevidence/list:
    get:
      description: 'Returns a list of additional evidence instances that have been uploaded against this vendor in chronological order of when they were uploaded.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor additional evidence instances
      operationId: additional_evidences_list
      parameters:
      - type: string
        description: The primary hostname of the vendor to show additional evidence for.
        name: vendor_primary_hostname
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 1000 if unset.'
        name: page_size
        in: query
      responses:
        '200':
          description: Vendor additional evidences list
          schema:
            $ref: '#/definitions/GetVendorAdditionalEvidencesResponsePayload'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/attributes:
    put:
      description: 'Assign or update the attributes for a vendor. To remove an attribute use null as its value in the payload.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Assign or update the attributes for a vendor
      operationId: vendor_update_attributes
      parameters:
      - name: UpdateVendorAttributesV1RequestBody
        in: body
        schema:
          $ref: '#/definitions/UpdateVendorAttributesV1RequestBody'
      responses:
        '204':
          description: ' Successful response is empty'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/contact:
    get:
      description: 'Returns the vendor contact details for the given contact ID.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Get a vendor contact by ID
      operationId: vendor_contact_get
      parameters:
      - type: integer
        format: int64
        description: The id of the vendor contact to retrieve.
        name: id
        in: query
        required: true
      responses:
        '200':
          description: Returns the vendor contact details.
          schema:
            $ref: '#/definitions/VendorContact'
        '403':
          description: Your API key does not have permission to perform this action, or the contact does not exist.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/contact/list:
    get:
      description: 'Returns a list of vendor contacts for a given vendor.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor contacts
      operationId: vendor_contact_list
      parameters:
      - type: integer
        format: int64
        description: The id of the vendor to retrieve contacts for.
        name: vendor_id
        in: query
      - type: string
        description: The primary hostname of the vendor to retrieve contacts for.
        name: vendor_primary_hostname
        in: query
      - type: string
        description: The `page_token` from a previous request, use this to get the next page of results.
        name: page_token
        in: query
      responses:
        '200':
          description: Returns a list of contacts for a vendor.
          schema:
            $ref: '#/definitions/VendorContactList'
        '403':
          description: Your API key does not have permission to perform this action, or the contact does not exist.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/document:
    get:
      description: 'Returns the body of one or more documents that have been attached to a specific vendor.

        If multiple documents are requested, then by default the files are returned as a multi-part mime response.

        Alternately, the zip option can be used to return multiple files as a single zip archive'
      produces:
      - image/jpeg
      - image/png
      - application/octet-stream
      - 'Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Retrieve (one or more) vendor documents by id
      operationId: document
      parameters:
      - type: array
        items:
          type: integer
          format: int64
        description: a comma-separated list of one or more documents (by unique id)
        name: document_ids
        in: query
      - type: boolean
        description: indicates that for multiple document requests, the files should be returned as a multi-file zip
        name: zip
        in: query
      responses:
        '200':
          description: Vendors document
          schema:
            $ref: '#/definitions/GetVendorDocumentResponsePayload'
        '300':
          description: Request requires multipart receipt ability
          schema:
            $ref: '#/definitions/endpoint300Error'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/documents:
    get:
      description: 'Returns a list of documents that have been uploaded against this vendor in chronological order of when they were uploaded.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor documents
      operationId: documents
      parameters:
      - type: string
        description: The primary hostname of the vendor to show documents for.
        name: vendor_primary_hostname
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 1000 if unset.'
        name: page_size
        in: query
      responses:
        '200':
          description: Vendor documents
          schema:
            $ref: '#/definitions/GetVendorDocumentsResponsePayload'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/domain:
    get:
      description: 'Returns the details for a domain. It will return 422 when requesting details of an inactive domain.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Retrieve details for a domain
      operationId: vendor_domain_details
      parameters:
      - type: string
        description: The primary hostname of the vendor to show the domain detail for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: string
        description: The hostname for which to return the details, e.g. "upguard.com"
        name: hostname
        in: query
        required: true
      responses:
        '200':
          description: Domain details
          schema:
            $ref: '#/definitions/GetDomainDetailsV1RespBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/domain/labels:
    put:
      description: 'Assign labels to a domain. To remove all labels pass an empty list.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Assign labels to a domain
      operationId: vendor_domain_update_labels
      parameters:
      - type: string
        description: The primary hostname of the vendor to update the domain labels for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: string
        description: The hostname to update labels for
        name: hostname
        in: query
        required: true
      - type: array
        items:
          type: string
        description: The labels to assign to the domain. You can pass an empty array to remove all labels.
        name: labels
        in: query
        required: true
      responses:
        '204':
          description: ' Successful response is empty'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/domains:
    get:
      description: 'Returns a list of domains for a vendor.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor domains
      operationId: vendor_domains
      parameters:
      - type: string
        description: The primary hostname of the vendor to show domains for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: boolean
        default: true
        description: Retrieve active domains
        name: active
        in: query
      - type: boolean
        default: true
        description: Retrieve inactive domains
        name: inactive
        in: query
      - type: array
        items:
          type: string
        description: Filter result by the provided labels
        name: labels
        in: query
      - type: string
        description: The `page_token` from a previous request, use this to get the next page of results.
        name: page_token
        in: query
      - maximum: 2000
        minimum: 10
        type: integer
        format: int64
        default: 1000
        description: The number of results to return per page.
        name: page_size
        in: query
      - enum:
        - domain
        - active
        - automated_score
        - scanned_at
        type: string
        default: domain
        description: 'The value to sort the domains by


          If not specified will default to `domain` and set `sort_desc` to `true`'
        name: sort_by
        in: query
      - type: boolean
        default: false
        description: Whether or not to sort the results in descending order
        name: sort_desc
        in: query
      responses:
        '200':
          description: A list of domains
          schema:
            $ref: '#/definitions/GetDomainsV1RespBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/ip:
    get:
      description: 'Returns the details of the IP address. It will return 422 when requesting details of an inactive IP address.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Retrieve details for an IP address
      operationId: vendor_ip_details
      parameters:
      - type: string
        description: The primary hostname of the vendor to show the IP detail for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: string
        description: The IP address to get details for
        name: ip
        in: query
        required: true
      responses:
        '200':
          description: IP details
          schema:
            $ref: '#/definitions/GetIpDetailsV1RespBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/ip/labels:
    put:
      description: 'Assign labels to an IP. To remove all labels pass an empty list.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Assign labels to an IP
      operationId: vendor_ip_update_labels
      parameters:
      - type: string
        description: The primary hostname of the vendor to update the IP labels for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: integer
        format: int64
        description: The IP to update labels for
        name: ip
        in: query
        required: true
      - type: array
        items:
          type: string
        description: The labels to assign to the IP. You can pass an empty array to remove all labels.
        name: labels
        in: query
        required: true
      responses:
        '204':
          description: ' Successful response is empty'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/ips:
    get:
      description: 'Returns a list of ips for a vendor.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor ips
      operationId: vendor_ips
      parameters:
      - type: string
        description: The primary hostname of the vendor to show ips for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: array
        items:
          type: string
        description: Filter result by the provided labels
        name: labels
        in: query
      - type: string
        description: The `page_token` from a previous request, use this to get the next page of results.
        name: page_token
        in: query
      - maximum: 2000
        minimum: 10
        type: integer
        format: int64
        default: 1000
        description: The number of results to return per page.
        name: page_size
        in: query
      - enum:
        - ip
        - owner
        - country
        - asn
        - as_name
        - automated_score
        type: string
        default: ip
        description: 'The value to sort the IPs by


          If not specified will default to `ip` and set `sort_desc` to `true`'
        name: sort_by
        in: query
      - type: boolean
        default: false
        description: Whether or not to sort the results in descending order
        name: sort_desc
        in: query
      responses:
        '200':
          description: A list of ips
          schema:
            $ref: '#/definitions/GetIPsV1RespBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/labels:
    put:
      description: 'Assign labels to a vendor. To remove all labels pass an empty list.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Assign labels to a vendor
      operationId: vendor_update_labels
      parameters:
      - type: string
        description: The primary hostname of the vendor to update labels for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: array
        items:
          type: string
        description: The labels to assign to the vendor. You can pass an empty array to remove all labels.
        name: labels
        in: query
        required: true
      responses:
        '204':
          description: ' Successful response is empty'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/monitor:
    post:
      description: Request will fail if you are currently monitoring all the vendors you are licensed for in CyberRisk.
      tags:
      - vendors
      summary: Start monitoring a vendor
      operationId: monitorvendor
      parameters:
      - type: integer
        format: int64
        example: 123456789
        description: The ID of the vendor to begin monitoring. e.g. 123456789
        name: id
        in: query
      - type: string
        example: upguard.com
        description: 'The hostname of the vendor to be monitored. e.g. "upguard.com".

          Required when id is not specified. When id is specified this field will be ignored.'
        name: hostname
        in: query
      - type: array
        items:
          type: string
        description: 'The labels to assign to the vendor.

          If you want to update the labels for an already monitored vendor use the /vendor/labels endpoint.'
        name: labels
        in: query
      - type: integer
        format: int64
        description: The tier to assign to the vendor.
        name: tier
        in: query
      - type: boolean
        default: false
        description: Flag indicating whether the request should wait for scan results on new unknown vendors.
        name: wait_for_scan
        in: query
      responses:
        '200':
          description: The vendor was successfully added to the monitored list
          schema:
            $ref: '#/definitions/vendor'
        '202':
          description: The vendor does not currently exist in the system and has been scheduled for addition
        '402':
          description: You are not permitted to monitor the vendor for licensing reasons.
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaire:
    get:
      description: 'Returns metadata about a specific questionnaire including recipients, completion status, and score.

        Note: This endpoint only supports private questionnaires, not public questionnaires.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Get questionnaire metadata
      operationId: questionnaireGet
      parameters:
      - type: integer
        format: int64
        example: 12345
        description: The ID of the questionnaire
        name: id
        in: query
        required: true
      responses:
        '200':
          description: Questionnaire metadata response
          schema:
            $ref: '#/definitions/GetQuestionnaireResponsePayload'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
    post:
      description: 'Request a vendor questionnaire to be sent to one or more nominated email addresses.

        Vendor must be already monitored in UpGuard.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)


        The following merge tags are supported for email_title and email_subject text:

        + Vendor name {{VendorName}}

        + Account name {{AccountName}}

        + Questionnaire type {{QuestionnaireType}}

        + Due date {{DueDate}}


        The following merge tags are supported for email_message text:

        + Vendor name {{VendorName}}'
      tags:
      - vendors
      summary: Send a security questionnaire to a vendor
      operationId: sendQuestionnaire
      parameters:
      - name: PostVendorQuestionnaireBody
        in: body
        schema:
          $ref: '#/definitions/PostVendorQuestionnaireBody'
      responses:
        '200':
          description: The questionnaire was successfully sent
          schema:
            $ref: '#/definitions/questionnaireSent'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaire/answers:
    get:
      description: 'Returns a list of all visible questions in the questionnaire with their answers.

        Note: This endpoint only supports private questionnaires, not public questionnaires.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Get questionnaire questions and answers
      operationId: questionnaireAnswers
      parameters:
      - type: integer
        format: int64
        example: 12345
        description: The ID of the questionnaire
        name: id
        in: query
        required: true
      responses:
        '200':
          description: Questionnaire answers response
          schema:
            $ref: '#/definitions/GetQuestionnaireAnswersResponsePayload'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaire/attachment:
    get:
      description: 'Returns the body of one or more questionnaire attachments that have been attached to a one or more vendor questionnaire instances.

        If multiple attachments are requested, then by default the files are returned as a multi-part mime response.

        Alternately, the zip option can be used to return multiple files as a single zip archive'
      produces:
      - image/jpeg
      - image/png
      - application/octet-stream
      - 'Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Retrieve (one or more) vendor questionnaire attachments by id
      operationId: attachment
      parameters:
      - type: array
        items:
          type: integer
          format: int64
        description: a comma-separated list of one or more attachments (by unique id)
        name: attachment_ids
        in: query
      - type: boolean
        description: indicates that for multiple attachment requests, the files should be returned as a multi-file zip
        name: zip
        in: query
      responses:
        '200':
          description: Vendors attachment
          schema:
            $ref: '#/definitions/GetVendorAttachmentResponsePayload'
        '300':
          description: Request requires multipart receipt ability
          schema:
            $ref: '#/definitions/endpoint300Error'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaire/attachment/list:
    get:
      description: 'Returns a list of questionnaire attachments that have been attached to a specific questionnaire instance in chronological order of when they were uploaded.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor questionnaire attachments
      operationId: questionnaireAttachmentsGet
      parameters:
      - type: integer
        format: int64
        description: The id of the specific questionnaire of whose attachments are of interest
        name: questionnaire_id
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 1000 if unset.'
        name: page_size
        in: query
      responses:
        '200':
          description: Vendor questionnaire attachments
          schema:
            $ref: '#/definitions/GetVendorQuestionnaireAttachmentsResponsePayload'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaire/comments:
    get:
      description: 'Returns all comments for a questionnaire grouped by question ID with threaded replies.

        Comments are organized in a map where keys are question IDs (or "top_level" for comments not associated with a question).

        Within each group, comments are sorted by creation date in descending order (oldest first).

        Each comment may have nested replies.

        Note: Comments are only available for private questionnaires, not public questionnaires.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Get questionnaire comments
      operationId: questionnaireComments
      parameters:
      - type: integer
        format: int64
        example: 12345
        description: The ID of the questionnaire
        name: id
        in: query
        required: true
      responses:
        '200':
          description: Questionnaire comments response
          schema:
            $ref: '#/definitions/GetQuestionnaireCommentsResponsePayload'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaire_types:
    get:
      description: 'Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List available vendor questionnaire types
      operationId: getquestionnairetypes
      responses:
        '200':
          description: The questionnaire types available
          schema:
            $ref: '#/definitions/questionnaireType'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaires:
    get:
      description: 'Returns a list of questionnaires that have been sent to this vendor in chronological order of when they were sent.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor questionnaires
      operationId: questionnaires
      deprecated: true
      parameters:
      - type: string
        description: The primary hostname of the vendor to which the questionnaires were sent.
        name: vendor_primary_hostname
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 1000 if unset.'
        name: page_size
        in: query
      - type: string
        description: 'The usage type of questionnaires to return

          Valid values: security, relationship

          Defaults to ''security'' if not set'
        name: usage_type
        in: query
      responses:
        '200':
          description: List of vendor questionnaires
          schema:
            $ref: '#/definitions/GetVendorQuestionnairesV1ResponsePayload'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/questionnaires/v2:
    get:
      description: 'Returns a list of questionnaires that have been sent to this vendor in chronological order of when they were sent.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor questionnaires
      operationId: questionnairesV2
      parameters:
      - type: string
        description: The primary hostname of the vendor to which the questionnaires were sent.
        name: vendor_primary_hostname
        in: query
      - type: integer
        format: int64
        description: The id of the vendor to which the questionnaires were sent.
        name: vendor_id
        in: query
      - type: string
        description: 'The usage type of questionnaires to return

          Valid values: security, relationship

          Defaults to ''security'' if not set'
        name: usage_type
        in: query
      - type: boolean
        default: false
        description: Optionally exclude archived questionnaires
        name: exclude_archived
        in: query
      responses:
        '200':
          description: List of vendor questionnaires
          schema:
            $ref: '#/definitions/GetVendorQuestionnairesV2ResponsePayload'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/ranges:
    get:
      description: 'Returns a list of ip ranges for a vendor.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List vendor ip ranges
      operationId: vendor_ranges
      parameters:
      - type: string
        description: The primary hostname of the vendor to show ips for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: array
        items:
          type: string
        description: Filter result by the provided labels
        name: labels
        in: query
      - type: string
        description: The `page_token` from a previous request, use this to get the next page of results.
        name: page_token
        in: query
      - maximum: 2000
        minimum: 10
        type: integer
        format: int64
        default: 1000
        description: The number of results to return per page.
        name: page_size
        in: query
      - enum:
        - start
        - end
        - num_ips
        - owner
        - country
        - asn
        - as_name
        type: string
        default: num_ips
        description: 'The value to sort the IP ranges by


          If not specified will default to `num_ips` and set `sort_desc` to `true`'
        name: sort_by
        in: query
      - type: boolean
        default: false
        description: Whether or not to sort the results in descending order
        name: sort_desc
        in: query
      responses:
        '200':
          description: A list of ranges
          schema:
            $ref: '#/definitions/GetRangesV1RespBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/relationship_questionnaire:
    post:
      description: 'Request a vendor relationship questionnaire to be sent to a nominated email address.

        Vendor must be already monitored in UpGuard


        A relationship questionnaire must be set up (in UpGuard) prior to the request.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Send a relationship questionnaire about a vendor
      operationId: sendrelationshipquestionnaire
      parameters:
      - name: PostVendorRelationshipQuestionnaireBody
        in: body
        schema:
          $ref: '#/definitions/PostVendorRelationshipQuestionnaireBody'
      responses:
        '200':
          description: The relationship questionnaire was successfully sent
          schema:
            $ref: '#/definitions/relationship_questionnaire_sent'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/tier:
    put:
      description: 'Assign tier to a vendor. To remove a tier pass a value of zero.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: Assign tier to a vendor
      operationId: vendor_update_tier
      parameters:
      - type: string
        description: The primary hostname of the vendor to update tier for.
        name: vendor_primary_hostname
        in: query
        required: true
      - type: integer
        format: int64
        description: The tier to assign to the vendor. You can pass a value of zero to remove a tier
        name: tier
        in: query
        required: true
      responses:
        '204':
          description: ' Successful response is empty'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendor/unmonitor:
    post:
      description: A vendor will be removed from the monitored vendors list of the account.
      tags:
      - vendors
      summary: Stop monitoring a vendor
      operationId: unmonitorvendor
      parameters:
      - type: integer
        format: int64
        example: 123456789
        description: The ID of the vendor to stop monitoring. e.g. 123456789
        name: id
        in: query
      - type: string
        example: upguard.com
        description: 'The hostname of the vendor to stop monitoring. e.g. "upguard.com"

          Required when id is not specified. When id is specified this field will be ignored.'
        name: hostname
        in: query
      responses:
        '200':
          description: The vendor was successfully removed from the monitored list if currently being monitored
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /vendors:
    get:
      description: 'If the include_ad_hoc_reports parameter is set to true then vendors with ad hoc reports available will also be returned.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - vendors
      summary: List monitored vendors
      operationId: vendors
      parameters:
      - type: boolean
        default: false
        description: Include vendors with an existing ad hoc report in the results.
        name: include_ad_hoc_reports
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 1000 if unset.'
        name: page_size
        in: query
      - type: array
        items:
          type: string
        description: Filter result by the provided labels
        name: labels
        in: query
      - type: boolean
        default: false
        description: Include risks
        name: include_risks
        in: query
      responses:
        '200':
          description: A list of vendors
          schema:
            $ref: '#/definitions/VendorsResponsePayloadBody'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
definitions:
  Category:
    description: Category values cannot be changed after first use, as they're referenced in storage.
    type: string
    title: Category values represent risk categories.
  QuestionnaireSender:
    description: QuestionnaireSender represents the sender of a questionnaire
    type: object
    properties:
      email:
        description: Email address of the sender
        type: string
        example: auditor@yourcompany.com
      name:
        description: Full name of the sender
        type: string
        example: Jane Doe
  GetVendorAttachmentResponsePayload:
    type: object
    properties:
      File:
        description: The list of binary attachments sent with the questionnaire response
        type: array
        items:
          $ref: '#/definitions/File'
  TextAnswer:
    description: TextAnswer represents a text answer
    type: object
    properties:
      value:
        description: The text value of the answer
        type: string
        example: We use AWS for hosting
  VendorsRisk:
    type: object
    properties:
      category:
        description: The risk category identifier
        type: string
        example: vulnerability_management
      description:
        description: Description of the risk
        type: string
        example: 'Remote code execution exploit chain consisting of 3 vulnerabilities in Microsoft Exchange Server: CVE-2021-34473, CVE-2021-34523 and CVE-2021-31207'
      finding:
        description: A short description of the finding
        type: string
        example: Vulnerable to CVE-2021-34473 (ProxyShell)
      id:
        description: The risk identifier
        type: string
        example: verified_vuln:CVE-2021-34473
      riskSubtype:
        description: The subtype of the risk, e.g. the subtype of the verified_vuln:CVE-2021-34473 is CVE-2021-34473. This field will be empty if the risk has no subtype, e.g. for wp_version_exposed, or for generic risks like verified_vuln:* where the subtype is only determined when the full risk is specified.
        type: string
        example: CVE-2021-34473
      riskType:
        description: The type of the risk, e.g. the type of the verified_vuln:CVE-2021-34473 is verified_vuln
        type: string
        example: verified_vuln
      severity:
        description: The risk severity
        type: string
        example: high
  UserMini:
    description: UserMini represents a minimal user reference in external API responses
    type: object
    properties:
      email:
        description: The user's email address
        type: string
        example: john@example.com
      name:
        description: The user's display name
        type: string
        example: John Doe
  QuestionnaireRecipient:
    description: QuestionnaireRecipient represents a recipient of a questionnaire
    type: object
    properties:
      email:
        description: Email address of the recipient
        type: string
        example: vendor@example.com
      is_pending_invite:
        description: If the recpient is a pending invite
        type: boolean
        example: true
      job_title:
        description: Job title of the recipient
        type: string
        example: Security Manager
      name:
        description: Full name of the recipient
        type: string
        example: John Smith
  endpointError:
    description: Error details coming from an endpoint
    type: object
    properties:
      error:
        description: A description of the error
        type: string
  MultipleChoiceAnswer:
    description: MultipleChoiceAnswer represents a multiple choice answer
    type: object
    properties:
      selected_options:
        description: The texts of the checked options
        type: array
        items:
          type: string
        example:
        - Option A
        - Option C
  OnboardingRequestDetail:
    description: OnboardingRequestDetail represents the full detail of a single onboarding request
    type: object
    properties:
      archived:
        description: Whether the request is archived
        type: boolean
        example: false
      assignee:
        $ref: '#/definitions/UserMini'
      completed_by:
        $ref: '#/definitions/UserMini'
      date_completed:
        description: When the request was completed, if applicable
        type: string
        format: date-time
        example: '2024-02-01T15:30:00Z'
      date_created:
        description: When the request was created
        type: string
        format: date-time
        example: '2024-01-15T10:00:00Z'
      due_date:
        description: The due date for the request, if set
        type: string
        format: date-time
        example: '2024-03-01T00:00:00Z'
      id:
        description: The unique ID of the onboarding request (survey ID)
        type: integer
        format: int64
        example: 12345
      is_inbound:
        description: Whether this is an inbound request (submitted via portal)
        type: boolean
        example: true
      linked_risk_assessment:
        $ref: '#/definitions/LinkedRiskAssessment'
      num_answers:
        description: The total number of answered questions
        type: integer
        format: int64
        example: 50
      num_messages:
        description: The number of messages/comments on the request
        type: integer
        format: int64
        example: 3
      num_questions:
        description: The total number of questions in the questionnaire
        type: integer
        format: int64
        example: 50
      outcome:
        $ref: '#/definitions/OutcomeSnapshot'
      priority:
        description: The priority level of the request
        type: string
        enum:
        - low
        - medium
        - high
        - critical
        example: high
      status:
        description: The current status of the request
        type: string
        enum:
        - Complete
        - Sent
        - In Progress
        - In Review
        - Assessment Underway
        - Awaiting Review
        example: Complete
      submitted_by:
        $ref: '#/definitions/UserMini'
      vendor:
        $ref: '#/definitions/OnboardingVendorInfo'
  CheckResult:
    type: object
    properties:
      actual:
        description: The found properties of the check
        type: array
        items:
          $ref: '#/definitions/Property'
      category:
        $ref: '#/definitions/Category'
      checked_at:
        description: The time the check was performed in RFC3339 format
        type: string
        format: date-time
      description:
        description: The description of the check performed
        type: string
      expected:
        description: The expected properties of the check
        type: array
        items:
          $ref: '#/definitions/Property'
      id:
        description: The ID of the check
        type: string
      pass:
        description: Flag indicating whether the check passed or not
        type: boolean
      riskSubtype:
        description: The subtype of the risk, e.g. the subtype of the verified_vuln:CVE-2021-34473 is CVE-2021-34473. This field will be empty if the risk has no subtype, e.g. for wp_version_exposed, or for generic risks like verified_vuln:* where the subtype is only determined when the full risk is specified.
        type: string
        example: CVE-2021-34473
      riskType:
        description: The type of the risk, e.g. the type of the verified_vuln:CVE-2021-34473 is verified_vuln
        type: string
        example: verified_vuln
      severity:
        $ref: '#/definitions/Severity'
      severityName:
        description: The severity fo the risk in human-readable form
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
      sources:
        description: 'Sources contains information about the source of a check

          e.g. the IP addresses it was found on, or a domain name'
        type: array
        items:
          type: string
      title:
        description: The title of the check
        type: string
  GetFourthPartiesV1RespBody:
    type: object
    properties:
      fourth_parties:
        type: array
        items:
          $ref: '#/definitions/fourthParty'
      next_page_token:
        type: string
      total_results:
        type: integer
        format: int64
  fourthParty:
    type: object
    title: A fourth party (supply chain / concentration risk) vendor and its associated products.
    properties:
      id:
        description: The id of the fourth party vendor.
        type: integer
        format: int64
      name:
        description: The name of the fourth party vendor.
        type: string
      primary_hostname:
        description: The primary hostname of the fourth party vendor.
        type: string
      products:
        description: The products provided by this fourth party vendor.
        type: array
        items:
          $ref: '#/definitions/fourthPartyProduct'
      score:
        description: The current score of the fourth party vendor. A -1 value represents no current score.
        type: integer
        format: int64
      vendors:
        description: The watched vendors that use this fourth party (union across all products).
        type: array
        items:
          $ref: '#/definitions/fourthPartyWatchedVendor'
  OnboardingVendorInfo:
    description: OnboardingVendorInfo represents vendor information in the external API
    type: object
    properties:
      hostname:
        description: The vendor's primary hostname
        type: string
        example: acme.com
      id:
        description: The vendor's datastore ID
        type: integer
        format: int64
        example: 789
      is_monitored:
        description: Whether the vendor is currently monitored
        type: boolean
        example: true
      labels:
        description: Labels assigned to the vendor
        type: array
        items:
          type: string
        example:
        - SOC2
        - PCI
      name:
        description: The vendor's display name
        type: string
        example: Acme Corp
      portfolios:
        description: Portfolio names the vendor belongs to
        type: array
        items:
          type: string
        example:
        - Production
      score:
        description: The vendor's current scanning score (0-950), if available
        type: integer
        format: int64
        example: 750
      tier:
        description: The vendor's tier name, if assigned
        type: string
        example: Critical
  VendorQuestionnaireAttachment:
    description: A vendor questionnaire attachment
    type: object
    properties:
      description:
        description: The description of the attachment.
        type: string
      file_name:
        description: The filename of the questionnaire attachment.
        type: string
      id:
        description: The id of the attachment.
        type: integer
        format: int64
      uploaded_at:
        description: The datetime that the questionnaire attachment was uploaded by the vendor
        type: string
        format: date-time
  GetVendorQuestionnairesV2ResponsePayload:
    type: object
    properties:
      questionnaires:
        description: The list of questionnaires sent to this vendor
        type: array
        items:
          $ref: '#/definitions/questionnaire'
      shared_questionnaires:
        description: The list of questionnaires shared by this vendor
        type: array
        items:
          $ref: '#/definitions/shared_questionnaire'
  Domain:
    type: object
    properties:
      active:
        description: The status of the domain
        type: boolean
      automated_score:
        description: The score of the domain. If the domain is active or hasn't been scanned yet this field will be absent
        type: integer
        format: int64
      hostname:
        description: The hostname
        type: string
      labels:
        description: The labels associated with the domain
        type: array
        items:
          type: string
      primary_domain:
        description: Flag indicating the primary domain for the account
        type: boolean
      scanned_at:
        description: The time the domain was scanned. If the domain is inactive or hasn't been scanned yet this field will be absent
        type: string
        format: date-time
  PostVendorQuestionnaireBody:
    description: Must contain exactly one of *vendor_id* or *vendor_primary_hostname*.
    type: object
    title: Body of the send questionnaire request.
    required:
    - questionnaire_type_id
    - sender_email
    - due_date
    - recipients
    - risk_information_visiblity
    properties:
      due_date:
        description: 'The date the questionnaire is due to be completed by.


          Must be a future ISO 8601 formatted date string (YYYY-MM-DD).'
        type: string
        example: '2024-11-20'
      email_message:
        description: Optional message sent to the questionnaire recipient. If not provided, the organization's default message will be used.
        type: string
        example: Please complete the following questionnaire
      email_title:
        description: Optional email title sent to the questionnaire recipient. If not provided, the organization's default email title will be used.
        type: string
        example: Questionnaire
      questionnaire_type_id:
        description: Numeric ID of the questionnaire type to be sent.
        type: integer
        format: int64
        example: 123
      recipients:
        description: The list of questionnaire recipients.
        type: array
        items:
          $ref: '#/definitions/questionnaireRecipient'
        example:
        - recipient_email: security@upguard.com
      reminder_date:
        description: 'The date to send a questionnaire reminder to the recipients.


          Must be a future ISO 8601 formatted date string (YYYY-MM-DD).'
        type: string
        example: '2024-11-16'
      risk_information_visiblity:
        description: The visibility level of risk information in the questionnaire.
        type: string
        enum:
        - ShowAllRiskInformation
        - HideSeverity
        - HideAllRiskInformation
        example: ShowAllRiskInformation
      sender_email:
        description: The email address of the questionnaire sender (must be an UpGuard user with full access to Vendor Risk or the portfolio containing the vendor).
        type: string
        example: vendor.user@upguard.com
      vendor_id:
        description: 'ID of the vendor the questionnaire is being sent to.


          This, or *vendor_primary_hostname* must be provided.'
        type: integer
        format: int64
        example: 123456789
      vendor_primary_hostname:
        description: 'Primary hostname of the vendor the questionnaire is being sent to.


          This, or *vendor_id* must be provided.'
        type: string
        example: example.com
  document:
    description: A vendor document
    type: object
    properties:
      description:
        description: The description of the document.
        type: string
      file_name:
        description: The file name of the uploaded document.
        type: string
      id:
        description: The document ID.
        type: integer
        format: int64
      uploaded_at:
        description: When the document was uploaded.
        type: string
        format: date-time
  PostVendorRelationshipQuestionnaireBody:
    type: object
    properties:
      id:
        description: ID of the vendor the relationship questionnaire is about.
        type: integer
        format: int64
        example: 123456789
      message:
        description: Optional message sent to the questionnaire recipient. If not provided, the organization's default message will be used.
        type: string
        example: Please complete the following questionnaire
      recipient_email:
        description: The email address of the questionnaire recipient (will be invited to your organization if not already a member).
        type: string
        example: security@upguard.com
      sender_email:
        description: 'The email address of the questionnaire sender (must be an UpGuard user with full access to Vendor Risk or the portfolio containing the vendor).


          Example vendor.user@upguard.com'
        type: string
      subject:
        description: Optional subject line sent to the questionnaire recipient. If not provided, the organisation's default message will be used.
        type: string
        example: Onboarding request for {{VendorName}}.
  fourthPartyProduct:
    type: object
    title: A product provided by a fourth party vendor.
    properties:
      description:
        description: A description of the product.
        type: string
      link:
        description: A URL link for the product.
        type: string
      name:
        description: The name of the product.
        type: string
      tag:
        description: The category tag of the product.
        type: string
      vendors:
        description: The watched vendors that use this product.
        type: array
        items:
          $ref: '#/definitions/fourthPartyWatchedVendor'
  CategoryScores:
    description: A collection of category scores for a vendor
    type: object
    properties:
      attackSurface:
        type: integer
        format: int64
      brandProtection:
        description: 'DEPRECATED: Use operationalRisk'
        type: integer
        format: int64
      brandReputation:
        description: 'DEPRECATED: Use operationalRisk'
        type: integer
        format: int64
      dataLeakage:
        type: integer
        format: int64
      dns:
        type: integer
        format: int64
      emailSecurity:
        type: integer
        format: int64
      encryption:
        type: integer
        format: int64
      ipDomainReputation:
        type: integer
        format: int64
      networkSecurity:
        type: integer
        format: int64
      operationalRisk:
        type: integer
        format: int64
      phishing:
        description: 'DEPRECATED: Use ipDomainReputation'
        type: integer
        format: int64
      questionnaires:
        type: integer
        format: int64
      vulnerabilityManagement:
        type: integer
        format: int64
      websiteSecurity:
        type: integer
        format: int64
  GetVendorQuestionnairesV1ResponsePayload:
    type: object
    properties:
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
        example: '4'
      questionnaires:
        description: The list of questionnaires sent to this vendor
        type: array
        items:
          $ref: '#/definitions/questionnaire'
      total_results:
        description: The total number of vendors found.
        type: integer
        format: int64
        example: 10
  GetVendorAdditionalEvidenceResponsePayload:
    type: object
    properties:
      File:
        description: The list of binary additional evidence documents requested for a vendor
        type: array
        items:
          $ref: '#/definitions/File'
  questionnaireType:
    description: Questionnaire Type
    type: object
    properties:
      questionnaire_type_id:
        description: The id of the questionnaire type
        type: integer
        format: int64
      questionnaire_type_name:
        description: The name of the questionnaire type
        type: string
  GetVendorDocumentResponsePayload:
    type: object
    properties:
      File:
        description: The list of binary documents requested for a vendor
        type: array
        items:
          $ref: '#/definitions/File'
  ScoreByEpoch:
    type: object
    properties:
      attack_surface:
        type: integer
        format: int64
      brand_protection:
        description: 'DEPRECATED: Use operational_risk'
        type: integer
        format: int64
      brand_reputation:
        description: 'DEPRECATED: Use operational_risk'
        type: integer
        format: int64
      data_leakage:
        type: integer
        format: int64
      dns:
        type: integer
        format: int64
      email_security:
        type: integer
        format: int64
      encryption:
        type: integer
        format: int64
      epoch:
        description: The name of the epoch the scores are for
        type: string
        enum:
        - now
        - 1 month ago
        - 3 months ago
        - 1 year ago
      ip_domain_reputation:
        type: integer
        format: int64
      network_security:
        type: integer
        format: int64
      operational_risk:
        type: integer
        format: int64
      overall:
        type: integer
        format: int64
      phishing:
        description: 'DEPRECATED: Use ip_domain_reputation'
        type: integer
        format: int64
      questionnaires:
        type: integer
        format: int64
      vulnerability_management:
        type: integer
        format: int64
      website_security:
        type: integer
        format: int64
      when:
        description: The date of this epoch
        type: string
        format: date-time
  GetVendorDocumentsResponsePayload:
    type: object
    properties:
      documents:
        description: The documents uploaded for this vendor.
        type: array
        items:
          $ref: '#/definitions/document'
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
      total_results:
        description: The total number of vendors found.
        type: integer
        format: int64
  Question:
    description: Question represents a flattened question for the external API
    type: object
    properties:
      answered:
        description: Whether the question has been answered (omitted in template mode)
        type: boolean
        example: true
      file_upload_answer:
        $ref: '#/definitions/FileUploadAnswer'
      multiple_choice_answer:
        $ref: '#/definitions/MultipleChoiceAnswer'
      options:
        description: Available options for choice questions (empty for non-choice questions)
        type: array
        items:
          $ref: '#/definitions/ChoiceOption'
      question_id:
        description: Unique identifier for the question
        type: string
        example: q_security_policy
      question_number:
        description: The question number (e.g., "1.2.3")
        type: string
        example: 1.2.3
      question_text:
        description: The text of the question
        type: string
        example: Do you have a written information security policy?
      question_type:
        description: The type of question
        type: string
        enum:
        - text
        - single_choice
        - multiple_choice
        - file_upload
        - risk
        example: single_choice
      required:
        description: Whether the question is required
        type: boolean
        example: true
      risk_answer:
        $ref: '#/definitions/RiskAnswer'
      single_choice_answer:
        $ref: '#/definitions/SingleChoiceAnswer'
      text_answer:
        $ref: '#/definitions/TextAnswer'
  IP:
    type: object
    properties:
      as_name:
        description: The name of the AS the IP belongs to. If no AS is available for an IP this field will be omitted.
        type: string
      asn:
        description: The ASN the IP belongs to. If no ASN is available for an IP this field will be omitted.
        type: integer
        format: int64
      automated_score:
        description: The score of the ip. If the ip is inactive or hasn't been scanned yet this field will be absent
        type: integer
        format: int64
      country:
        description: The country the IP belongs to. If no country is available for an IP this field will be omitted.
        type: string
      ip:
        description: The IP.
        type: string
      labels:
        description: The labels associated with the IP.
        type: array
        items:
          type: string
      owner:
        description: The owner of the IP.
        type: string
      services:
        description: The list of discovered services IP. If no services were detected for the IP this field will be omitted.
        type: array
        items:
          type: string
      sources:
        description: The sources of the IP.
        type: array
        items:
          $ref: '#/definitions/IPSource'
  LinkedRiskAssessment:
    description: LinkedRiskAssessment represents a linked risk assessment in the external API
    type: object
    properties:
      id:
        description: The assessment ID
        type: integer
        format: int64
        example: 456
      name:
        description: The assessment name
        type: string
        example: Annual Review
      published_at:
        description: When the assessment was published
        type: string
        format: date-time
        example: '2024-02-01T15:30:00Z'
  RiskCounts:
    description: The count of risks for this vendor, broken down by severity
    type: object
    properties:
      critical:
        type: integer
        format: int64
      high:
        type: integer
        format: int64
      low:
        type: integer
        format: int64
      medium:
        type: integer
        format: int64
  Property:
    type: object
    properties:
      property:
        description: The name of the property
        type: string
      value:
        description: The value of the property
        type: string
  OnboardingRequestListItem:
    description: OnboardingRequestListItem represents a single onboarding request in the list response
    type: object
    properties:
      archived:
        description: Whether the request is archived
        type: boolean
        example: false
      completed_at:
        description: When the request was completed, if applicable
        type: string
        format: date-time
        example: '2024-02-01T15:30:00Z'
      created_at:
        description: When the request was created
        type: string
        format: date-time
        example: '2024-01-15T10:00:00Z'
      due_date:
        description: The due date for the request, if set
        type: string
        format: date-time
        example: '2024-03-01T00:00:00Z'
      id:
        description: The unique ID of the onboarding request (survey ID)
        type: integer
        format: int64
        example: 12345
      num_messages:
        description: The number of messages/comments on the request
        type: integer
        format: int64
        example: 3
      outcome:
        $ref: '#/definitions/OutcomeSnapshot'
      priority:
        description: The priority level of the request
        type: string
        enum:
        - low
        - medium
        - high
        - critical
        example: high
      progress:
        description: 'The completion progress as a percentage (0-100), calculated as num_answers / num_questions * 100.

          Returns 0 when there are no questions. Values are capped at 100.'
        type: number
        format: double
        example: 75.5
      reassessment_date:
        description: The reassessment date if present
        type: string
        format: date-time
        example: '2024-03-01T00:00:00Z'
      status:
        description: The current status of the request
        type: string
        enum:
        - Complete
        - Sent
        - In Progress
        - In Review
        - Assessment Underway
        - Awaiting Review
        example: Complete
      submitted_by:
        $ref: '#/definitions/UserMini'
      vendor_hostname:
        description: The vendor's primary hostname
        type: string
        example: acme.com
      vendor_name:
        description: The vendor's display name
        type: string
        example: Acme Corp
  VendorContact:
    type: object
    properties:
      created_at:
        type: string
      email_address:
        type: string
      id:
        type: integer
        format: int64
      name:
        type: string
      notes:
        type: string
      phone_mobile:
        type: string
      title:
        type: string
      updated_at:
        type: string
      vendor_id:
        type: integer
        format: int64
  DomainScore:
    type: object
    properties:
      automated_score:
        description: The score of the domain
        type: integer
        format: int64
      hostname:
        description: The hostname of the domain
        type: string
  File:
    type: object
  endpoint300Error:
    description: Multipart error details coming from an endpoint
    type: object
    properties:
      error:
        description: Error indicates that the request must specify that it accepts multipart/form-data
        type: string
  VendorMetadata:
    description: Various pieces of metadata for the vendor
    type: object
    properties:
      annual_revenue:
        type: integer
        format: int64
      employee_count:
        type: integer
        format: int64
      legal_name:
        type: string
      location_city:
        type: string
      location_country:
        type: string
      location_postcode:
        type: string
      market_cap:
        type: integer
        format: int64
  OutcomeSnapshot:
    description: OutcomeSnapshot represents the outcome of a completed onboarding request
    type: object
    properties:
      category:
        description: The outcome category
        type: string
        enum:
        - positive
        - neutral
        - negative
        example: positive
      comment:
        description: An optional comment about the outcome
        type: string
        example: Approved with conditions
      description:
        description: A description of the outcome
        type: string
        example: Vendor approved for use
      name:
        description: The outcome name
        type: string
        example: Approved
  GetQuestionnaireAnswersResponsePayload:
    type: object
    properties:
      questions:
        description: The list of questions with their answers
        type: array
        items:
          $ref: '#/definitions/Question'
  GetVendorAdditionalEvidencesResponsePayload:
    type: object
    properties:
      additional_evidence:
        description: The additional evidence uploaded for this vendor.
        type: array
        items:
          $ref: '#/definitions/additional_evidences_list'
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
      total_results:
        description: The total number of vendors found.
        type: integer
        format: int64
  OnboardingRequestsListRespBody:
    description: OnboardingRequestsListRespBody is the response body for the onboarding requests list endpoint
    type: object
    properties:
      next_page_token:
        description: Token for the next page of results
        type: string
      onboarding_requests:
        description: The list of onboarding requests
        type: array
        items:
          $ref: '#/definitions/OnboardingRequestListItem'
      total_results:
        description: The total number of matching results
        type: integer
        format: int64
        example: 100
  GetRangesV1RespBody:
    type: object
    properties:
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
      ranges:
        description: The list of ranges
        type: array
        items:
          $ref: '#/definitions/ApiRange'
      total_results:
        description: The total number of ranges found.
        type: integer
        format: int64
  SingleChoiceAnswer:
    description: SingleChoiceAnswer represents a single choice answer
    type: object
    properties:
      selected_option_id:
        description: The ID of the selected option
        type: string
        example: opt_yes
      selected_option_text:
        description: The text of the selected option
        type: string
        example: 'Yes'
  GetIPsV1RespBody:
    type: object
    properties:
      ips:
        description: The list of ips
        type: array
        items:
          $ref: '#/definitions/IP'
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
      total_results:
        description: The total number of ips found.
        type: integer
        format: int64
  ChoiceOption:
    description: ChoiceOption represents a single option in a choice question
    type: object
    properties:
      checked:
        description: Whether this option is checked (for multiple choice questions)
        type: boolean
        example: true
      id:
        description: Unique identifier for the option
        type: string
        example: opt_yes
      selected:
        description: Whether this option is selected (for single choice questions)
        type: boolean
        example: true
      text:
        description: The text label for the option
        type: string
        example: 'Yes'
  GetQuestionnaireResponsePayload:
    type: object
    properties:
      answered_at:
        description: When the questionnaire was answered/returned
        type: string
        format: date-time
        example: '2024-03-20T15:30:00Z'
      answered_by:
        $ref: '#/definitions/QuestionnaireSender'
      due_date:
        description: The datetime that the questionnaire is due to be completed.
        type: string
        format: date-time
        example: '2024-04-20T00:00:00Z'
      id:
        description: The ID of the questionnaire
        type: integer
        format: int64
        example: 12345
      percent_completed:
        description: Percentage of questions answered (0-100)
        type: number
        format: double
        example: 85.5
      questionnaire_name:
        description: The name of the questionnaire
        type: string
        example: Security Assessment for Acme Corp
      questionnaire_type_id:
        description: The ID of the questionnaire type/template
        type: integer
        format: int64
        example: 42
      recipients:
        description: List of questionnaire recipients
        type: array
        items:
          $ref: '#/definitions/QuestionnaireRecipient'
      score:
        description: Risk score for the questionnaire out of 950 (if enabled and available)
        type: integer
        format: int64
        example: 750
      sent_at:
        description: Datetime when the questionnaire was sent
        type: string
        format: date-time
        example: '2024-03-15T10:00:00Z'
      sent_by:
        $ref: '#/definitions/QuestionnaireSender'
      status:
        description: The current status of the questionnaire
        type: string
        enum:
        - sent
        - opened
        - returned
        - inreview
        - complete
        - cancelled
        - published
        example: complete
      type_name:
        description: The name of the questionnaire type
        type: string
        example: ISO 27001
  questionnaire:
    type: object
    properties:
      archived:
        description: Flag indicating whether the questionnaire has been archived
        type: boolean
        example: true
      due_date:
        description: 'The datetime that the questionnaire is due to be completed.

          This field will be null if no due date has been set.'
        type: string
        format: date-time
        example: '2022-04-20T00:00:00Z'
      id:
        description: The id of the questionnaire.
        type: integer
        format: int64
        example: 1
      in_remediation:
        description: Flag indicating whether there are risks under remediation in this questionnaire
        type: boolean
        example: false
      name:
        description: The name of the questionnaire.
        type: string
        example: iso27001
      returned_at:
        description: 'The datetime that the questionnaire was returned by the vendor.

          This field will be null if the questionnaire has not been returned.'
        type: string
        format: date-time
        example: '2022-03-20T23:23:37.228539Z'
      sent_at:
        description: The datetime that the questionnaire was sent.
        type: string
        format: date-time
        example: '2022-03-20T21:42:53.821938Z'
      status:
        description: The current status of the questionnaire.
        type: string
        enum:
        - sent
        - opened
        - returned
        - inreview
        - complete
        - cancelled
        - published
        example: complete
  QuestionnaireComment:
    description: QuestionnaireComment represents a comment on a questionnaire
    type: object
    properties:
[...]
