openapi: 3.2.0
info:
  description: 'Access information from the CyberRisk platform programmatically using this API.


    You can find or generate an API key to access this API in your CyberRisk Account Settings.

    Please authorize all requests by setting the "Authorization" header to your api key.


    The base url for all public endpoints is https://cyber-risk.upguard.com/api/public'
  title: UpGuard CyberRisk Labels API
  version: 1.13.2
servers:
- url: https://cyber-risk.upguard.com/api/public
security:
- API key in header: []
tags:
- name: Labels
paths:
  /labels:
    get:
      description: 'Returns the list of labels for your account.


        Required API key permissions: `Platform` (select when creating API key in Account Settings)'
      tags:
      - Labels
      summary: Get the list of registered labels
      operationId: labels
      responses:
        '200':
          description: A list of labels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLabelsV1RespBody'
        '429':
          description: Too many requests have been made to this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/endpointError'
        '500':
          description: An internal system error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/endpointError'
components:
  schemas:
    endpointError:
      description: Error details coming from an endpoint
      type: object
      properties:
        error:
          description: A description of the error
          type: string
    GetLabelsV1RespBody:
      type: object
      properties:
        labels:
          description: The list of available labels
          type: array
          items:
            type: string
  securitySchemes:
    API_key_in_header:
      type: apiKey
      in: header
      name: Authorization
