swagger: '2.0'
info:
  description: 'Access information from the CyberRisk platform programmatically using this API.


    You can find or generate an API key to access this API in your CyberRisk Account Settings.

    Please authorize all requests by setting the "Authorization" header to your api key.


    The base url for all public endpoints is https://cyber-risk.upguard.com/api/public'
  title: UpGuard CyberRisk breaches risks API
  version: 1.13.2
host: cyber-risk.upguard.com
basePath: /api/public
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- API key in header: []
tags:
- name: risks
paths:
  /available_risks:
    get:
      description: 'Returns a list of available risks in the UpGuard platform with detailed info. Please note this version of the endpoint has been deprecated, and v2 should be used instead.


        Required API key permissions: `Platform` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of available risks in the platform
      operationId: available_risks
      deprecated: true
      responses:
        '200':
          description: Available risks
          schema:
            $ref: '#/definitions/AvailableRisk'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /available_risks/risk:
    get:
      description: 'Returns the details for a risk.


        Required API key permissions: `Platform` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get details for a risk in the platform
      operationId: risk
      parameters:
      - type: string
        description: ID of the risk to fetch details for
        name: risk_id
        in: query
        required: true
      responses:
        '200':
          description: Risk details
          schema:
            $ref: '#/definitions/AvailableRiskV2'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /available_risks/v2:
    get:
      description: 'Returns a list of available risks in the UpGuard platform with detailed info.


        Some risks in the platform are generic risks like "exposed_service:*". The values of some of the fields for these risks

        depends on the details of the risk, e.g. which particular service is exposed. As such these fields are omitted from the response.


        To get the full details for a specific risk, e.g. "exposed_service:FTP", use the risk details endpoint which will return

        the full information for the particular service.


        Required API key permissions: `Platform` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of available risks in the platform
      operationId: available_risks_v2
      parameters:
      - type: string
        description: Filter by risk category
        name: category
        in: query
      - enum:
        - info
        - low
        - medium
        - high
        - critical
        type: string
        description: Filter by risk severity
        name: severity
        in: query
      responses:
        '200':
          description: Available risks
          schema:
            type: array
            items:
              $ref: '#/definitions/AvailableRiskV2'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks:
    get:
      description: 'Returns a list of risks that have been detected for your account.


        Required API key permissions: `BreachRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of active risks for your account
      operationId: risks
      parameters:
      - enum:
        - info
        - low
        - medium
        - high
        - critical
        type: string
        default: info
        description: Minimum severity for the risks
        name: min_severity
        in: query
      - type: boolean
        default: false
        description: Include metadata for risks
        name: include_meta
        in: query
      - type: boolean
        default: false
        description: 'Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports

          when available'
        name: include_sources
        in: query
      responses:
        '200':
          description: A list of detected risks
          schema:
            $ref: '#/definitions/GetRisksV1RespBody'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/diff:
    get:
      description: 'Returns a list of the risks introduced and risks resolved for domains or IPs between two dates.


        The start_date must be in the last 2 years.


        Previously provisional risks that are now scored will appear in the list of risks introduced.


        Required API key permissions: `BreachRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of risk changes for your account
      operationId: org_risks_diff
      parameters:
      - type: string
        format: date-time
        description: The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format). Must be in the last 2 years.
        name: start_date
        in: query
        required: true
      - type: string
        format: date-time
        description: The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.
        name: end_date
        in: query
      - type: boolean
        default: false
        description: Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports
        name: include_sources
        in: query
      responses:
        '200':
          description: Risks introduced and resolved
          schema:
            $ref: '#/definitions/RisksDiffResponsePayloadBody'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors:
    get:
      description: 'Returns a list of risks that have been detected for a particular vendor.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of active risks for a vendor
      operationId: vendor_risks
      parameters:
      - type: string
        example: upguard.com
        description: The primary hostname of the vendor to return risks for
        name: primary_hostname
        in: query
        required: true
      - enum:
        - info
        - low
        - medium
        - high
        - critical
        type: string
        default: info
        description: Minimum severity for the risks
        name: min_severity
        in: query
      - type: boolean
        default: false
        description: 'Include metadata for risks,

          `include_meta` and ''exclude_hostnames'' cannot both be true'
        name: include_meta
        in: query
      - type: boolean
        default: false
        description: 'Exclude hostnames for risks,

          `include_meta` and ''exclude_hostnames'' cannot both be true'
        name: exclude_hostnames
        in: query
      - type: boolean
        default: false
        description: 'Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports

          when available'
        name: include_sources
        in: query
      responses:
        '200':
          description: A list of detected risks
          schema:
            $ref: '#/definitions/GetRisksV1RespBody'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors/all:
    get:
      description: 'Returns an overview of all risks affecting vendors that match the specified filter criteria or all vendors.

        This endpoint provides a consolidated view of cybersecurity risks.


        The response includes the total number of vendors matching your filter and a list of all risks found,

        with details about how many vendors are affected by each risk.


        Results are paginated. Use the `page_size` parameter to control how many results are returned per page

        (default: 100, max: 2000). Use the `next_page_token` from the response to retrieve subsequent pages.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get portfolio risk profile overview
      operationId: vendor_risk_overview_params
      parameters:
      - type: array
        items:
          type: string
        example:
        - label1
        - label2
        - label3
        description: 'Filter on vendor labels using the label’s name. By default, any matching vendor will be

          returned. Use vendor_label_ids_match_all to require all labels to be present. If the label

          does not exist, 422 will be returned.'
        name: vendor_labels
        in: query
      - type: boolean
        example: true
        description: 'If true, will only return vendors that match ALL of the provided label IDs.

          If false or omitted, vendors matching ANY of the provided labels will be returned.'
        name: vendor_label_ids_match_all
        in: query
      - type: boolean
        example: false
        description: If true, will include vendors that have no labels applied when vendor_label_ids is provided.
        name: include_unlabeled
        in: query
      - type: integer
        format: int64
        example: 300
        description: 'Filter vendors to those with a score greater than or equal to this value.

          Valid range: 0-950.'
        name: min_score
        in: query
      - type: integer
        format: int64
        example: 700
        description: 'Filter vendors to those with a score less than or equal to this value.

          Valid range: 0-950.'
        name: max_score
        in: query
      - type: string
        example: Acme
        description: Filter vendors whose name starts with the given prefix (case-insensitive).
        name: name_prefix
        in: query
      - type: array
        items:
          type: integer
          format: int64
        example:
        - 123
        - 456
        description: Filter to only return vendors with the specified vendor IDs.
        name: vendor_ids
        in: query
      - type: boolean
        example: false
        description: 'If true, will only return vendors that DO NOT match ANY of the provided label IDs.

          This is mutually exclusive with vendor_label_ids_match_all.'
        name: vendor_label_ids_do_not_match
        in: query
      - type: array
        items:
          type: integer
          format: int64
        example:
        - 1
        - 2
        description: 'Filter watched vendors to those in the specified tiers.

          Valid values: 1-5.'
        name: vendor_tiers
        in: query
      - type: array
        items:
          type: string
        example:
        - portfolio1
        - portfolio2
        description: 'Filter by portfolio IDs. Only vendors in these portfolios will be returned.

          If the portofilo does not exist, 422 will be returned.'
        name: portfolios
        in: query
      - type: boolean
        example: false
        description: If true, will return only vendors with a published assessment.
        name: assessed_vendors_only
        in: query
      - type: array
        items:
          type: integer
          format: int64
        example:
        - 1
        - 2
        description: 'Filter by questionnaire type IDs. Only vendors with these questionnaire types will be returned.

          Available questionnaire types can be found at /api/public/vendor/questionnaire_types.'
        name: questionnaire_type_ids
        in: query
      - type: string
        format: date-time
        example: '2024-01-01T00:00:00Z'
        description: 'Start of date added range filter (RFC3339 format).

          Filters vendors added on or after this date.'
        name: vendor_date_added_start
        in: query
      - type: string
        format: date-time
        example: '2024-12-31T23:59:59Z'
        description: 'End of date added range filter (RFC3339 format).

          Filters vendors added on or before this date.'
        name: vendor_date_added_end
        in: query
      - type: boolean
        example: false
        description: If true, filter to vendors added before vendor_date_added_end.
        name: vendor_date_added_before
        in: query
      - type: boolean
        example: true
        description: If true, filter to vendors added between start and end dates.
        name: vendor_date_added_between
        in: query
      - type: integer
        format: int64
        example: 100
        description: 'The number of results to return per page.

          Valid values range from 10 to 2000.

          Defaults to 100 if not specified.'
        name: page_size
        in: query
      - type: string
        example: eyJ2IjoxMDAsImUiOjE3MDAwMDAwMDAsImgiOiJhYmMxMjMifQ==
        description: 'Token to retrieve a specific page of results.

          Omit to retrieve the first page.

          Use the `next_page_token` from the previous response to get the next page.'
        name: page_token
        in: query
      responses:
        '200':
          description: VendorRiskOverviewV1Response is the response for the vendor risk overview endpoint.
          schema:
            $ref: '#/definitions/VendorRiskOverviewV1ResponsePayload'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors/diff:
    get:
      description: 'Returns a list of the risks introduced and risks resolved for domains or IPs between two dates.


        The maximum allowed interval is 30 days.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of risk changes for a vendor
      operationId: vendor_risks_diff
      parameters:
      - type: string
        example: upguard.com
        description: The primary hostname for a vendor
        name: vendor_primary_hostname
        in: query
        required: true
      - type: string
        format: date-time
        description: The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format). Must be in the last 2 years.
        name: start_date
        in: query
        required: true
      - type: string
        format: date-time
        description: The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.
        name: end_date
        in: query
      - type: boolean
        default: false
        description: 'Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports

          when available'
        name: include_sources
        in: query
      responses:
        '200':
          description: Risks introduced and resolved
          schema:
            $ref: '#/definitions/RisksDiffResponsePayloadBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors/diffs:
    get:
      description: 'Returns a list of the risks introduced and risks resolved for domains or IPs between two dates across your monitored vendors.


        The maximum allowed interval is 30 days.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of risk changes for monitored vendors
      operationId: vendors_risks_diff
      parameters:
      - type: string
        format: date-time
        description: The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format).
        name: start_date
        in: query
        required: true
      - type: string
        format: date-time
        description: The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.
        name: end_date
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - maximum: 200
        minimum: 10
        type: integer
        format: int64
        default: 20
        description: 'The number of results to return per page.

          Valid values range from 10 to 200.

          Defaults to 20 if unset.'
        name: page_size
        in: query
      responses:
        '200':
          description: Risks introduced and resolved
          schema:
            $ref: '#/definitions/VendorsRisksDiffResponsePayloadBody'
        '403':
          description: Your API key does not have permission to perform this action.
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors/hostnames:
    get:
      description: 'Returns a list of hostnames for a specific vendor that are affected by a specific risk.

        This endpoint provides detailed information about which hostnames have failed a particular

        risk check including the detection date and last scan date.


        The vendor can be identified either by `vendor_id` (for webless vendors) or `vendor_primary_hostname` (for vendors with or without a web presence).

        Exactly one identifier must be provided.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get vendor hostnames affected by a risk
      operationId: get_vendor_hostnames_with_risk_params
      parameters:
      - type: string
        description: The risk_id to filter by
        name: risk_id
        in: query
        required: true
      - type: integer
        format: int64
        description: The vendor's internal ID.
        name: vendor_id
        in: query
      - type: string
        description: The vendor's primary hostname
        name: vendor_primary_hostname
        in: query
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ExternalVendorHostnamesWithRiskResponse'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors/questionnaires:
    get:
      description: 'Returns a list of currently open questionnaire risks for one or more of an account''s watched vendors. Please note this version of the endpoint has been deprecated, and v2 should be used instead.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get a list of questionnaire risks for one or more watched vendors or a specific questionnaire
      operationId: vendor_questionnaire_risks
      deprecated: true
      parameters:
      - type: integer
        format: int64
        description: Restricts the questionnaire risks returned to a specific watched vendor by ID
        name: vendor_id
        in: query
      - type: string
        description: Restricts the questionnaire risks returned to a specific watched vendor by vendor primary hostname
        name: primary_hostname
        in: query
      - type: integer
        format: int64
        description: Restricts the questionnaire risks returned to a specific questionnaire by ID
        name: questionnaire_id
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of risks to return per page.

          This Integer between 10 and 2000 defaults to 1000 if not supplied.'
        name: page_size
        in: query
      responses:
        '200':
          description: Questionnaire risks for specific watched vendors or questionnaire instances
          schema:
            $ref: '#/definitions/QuestionnaireRisksResponsePayloadBody'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors/questionnaires/v2:
    get:
      description: 'Returns a list of currently open questionnaire risks for one or more of an account''s watched vendors, including information on whether waivers exist for each risk.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: (V2) Get a list of questionnaire risks for one or more watched vendors or a specific questionnaire
      operationId: vendor_questionnaire_risks_v2
      parameters:
      - type: integer
        format: int64
        description: Restricts the questionnaire risks returned to a specific watched vendor by ID
        name: vendor_id
        in: query
      - type: string
        description: Restricts the questionnaire risks returned to a specific watched vendor by vendor primary hostname
        name: primary_hostname
        in: query
      - type: integer
        format: int64
        description: Restricts the questionnaire risks returned to a specific questionnaire by ID
        name: questionnaire_id
        in: query
      - type: string
        description: 'The token of the page to be returned.

          Will return the first page if left blank.'
        name: page_token
        in: query
      - type: integer
        format: int64
        description: 'The number of risks to return per page.

          This Integer between 10 and 2000 defaults to 1000 if not supplied.'
        name: page_size
        in: query
      - type: boolean
        description: Indicates that waived risks should not be returned in the risk set
        name: ignore_waived_risks
        in: query
      responses:
        '200':
          description: Questionnaire risks for specific watched vendors or questionnaire instances, including waiver details if appropriate
          schema:
            $ref: '#/definitions/QuestionnaireRisksResponsePayloadBodyV2'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
  /risks/vendors_with_risk:
    get:
      description: 'Returns a list of vendors that are affected by a specific risk.

        This endpoint provides detailed information about vendors that have failed a particular risk,

        including vendor details, risk information, and waiver status.


        Required API key permissions: `VendorRisk` (select when creating API key in Account Settings)'
      tags:
      - risks
      summary: Get vendors affected by a risk
      operationId: get_vendors_with_risk_params
      parameters:
      - type: array
        items:
          type: string
        example:
        - label1
        - label2
        - label3
        description: 'Filter on vendor labels using the label’s name. By default, any matching vendor will be

          returned. Use vendor_label_ids_match_all to require all labels to be present. If the label

          does not exist, 422 will be returned.'
        name: vendor_labels
        in: query
      - type: boolean
        example: true
        description: 'If true, will only return vendors that match ALL of the provided label IDs.

          If false or omitted, vendors matching ANY of the provided labels will be returned.'
        name: vendor_label_ids_match_all
        in: query
      - type: boolean
        example: false
        description: If true, will include vendors that have no labels applied when vendor_label_ids is provided.
        name: include_unlabeled
        in: query
      - type: integer
        format: int64
        example: 300
        description: 'Filter vendors to those with a score greater than or equal to this value.

          Valid range: 0-950.'
        name: min_score
        in: query
      - type: integer
        format: int64
        example: 700
        description: 'Filter vendors to those with a score less than or equal to this value.

          Valid range: 0-950.'
        name: max_score
        in: query
      - type: string
        example: Acme
        description: Filter vendors whose name starts with the given prefix (case-insensitive).
        name: name_prefix
        in: query
      - type: array
        items:
          type: integer
          format: int64
        example:
        - 123
        - 456
        description: Filter to only return vendors with the specified vendor IDs.
        name: vendor_ids
        in: query
      - type: boolean
        example: false
        description: 'If true, will only return vendors that DO NOT match ANY of the provided label IDs.

          This is mutually exclusive with vendor_label_ids_match_all.'
        name: vendor_label_ids_do_not_match
        in: query
      - type: array
        items:
          type: integer
          format: int64
        example:
        - 1
        - 2
        description: 'Filter watched vendors to those in the specified tiers.

          Valid values: 1-5.'
        name: vendor_tiers
        in: query
      - type: array
        items:
          type: string
        example:
        - portfolio1
        - portfolio2
        description: 'Filter by portfolio IDs. Only vendors in these portfolios will be returned.

          If the portofilo does not exist, 422 will be returned.'
        name: portfolios
        in: query
      - type: boolean
        example: false
        description: If true, will return only vendors with a published assessment.
        name: assessed_vendors_only
        in: query
      - type: array
        items:
          type: integer
          format: int64
        example:
        - 1
        - 2
        description: 'Filter by questionnaire type IDs. Only vendors with these questionnaire types will be returned.

          Available questionnaire types can be found at /api/public/vendor/questionnaire_types.'
        name: questionnaire_type_ids
        in: query
      - type: string
        format: date-time
        example: '2024-01-01T00:00:00Z'
        description: 'Start of date added range filter (RFC3339 format).

          Filters vendors added on or after this date.'
        name: vendor_date_added_start
        in: query
      - type: string
        format: date-time
        example: '2024-12-31T23:59:59Z'
        description: 'End of date added range filter (RFC3339 format).

          Filters vendors added on or before this date.'
        name: vendor_date_added_end
        in: query
      - type: boolean
        example: false
        description: If true, filter to vendors added before vendor_date_added_end.
        name: vendor_date_added_before
        in: query
      - type: boolean
        example: true
        description: If true, filter to vendors added between start and end dates.
        name: vendor_date_added_between
        in: query
      - type: string
        description: The risk_id to filter by
        name: risk_id
        in: query
        required: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ExternalVendorsWithRiskResponse'
        '403':
          description: Account does not have access to requested entities
          schema:
            $ref: '#/definitions/endpointError'
        '404':
          description: The vendor was not found.
          schema:
            $ref: '#/definitions/endpointError'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          schema:
            $ref: '#/definitions/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          schema:
            $ref: '#/definitions/endpointError'
        '500':
          description: An internal system error occurred
          schema:
            $ref: '#/definitions/endpointError'
definitions:
  Diff:
    type: object
    properties:
      dateA:
        description: The date of the first scan (RFC 3339 format)
        type: string
        format: date-time
      dateB:
        description: The date of the second scan (RFC 3339 format)
        type: string
        format: date-time
      expected:
        description: The expected status
        type: string
      hostname:
        description: The domain name or IP address experiencing the risk diff
        type: string
      metaValueA:
        description: Metadata for the result of the first check
        type: string
      metaValueB:
        description: Metadata for the result of the second check
        type: string
      prevProvisionalID:
        description: Previous provisional ID if the last scan contained it
        type: string
      property:
        description: The property checked
        type: string
      statusA:
        $ref: '#/definitions/DiffStatus'
      statusB:
        $ref: '#/definitions/DiffStatus'
      valueMetadataA:
        $ref: '#/definitions/ValueMetadata'
      valueMetadataB:
        $ref: '#/definitions/ValueMetadata'
  ExternalVendorsWithRiskResponse:
    type: object
    title: ExternalVendorsWithRiskResponse contains the vendors affected by a risk.
    properties:
      risk_id:
        description: The risk ID
        type: string
      risk_severity:
        description: The severity level of the risk (pass, info, low, medium, high, critical)
        type: string
      risk_type:
        description: The type of risk
        type: string
      total_vendors_matching_filter:
        description: Total number of vendors matching the filter criteria
        type: integer
        format: int64
      vendors_with_risk:
        description: List of vendors affected by the risk
        type: array
        items:
          $ref: '#/definitions/externalVendorWithRisk'
  SummaryDiff:
    type: object
    properties:
      category:
        description: The category of the risk group
        type: string
        enum:
        - website_sec
        - email_sec
        - network_sec
        - ip_domain_reputation
        - brand_protect
        - attack_surface
        - dns
        - vulnerability_management
        - data_leakage
        - encryption
        - questionnaire_risks
        - vulns
        - typosquatting
        - emailexposures
        - dataleaks
        - additional_evidence
      cloudscanDiffs:
        $ref: '#/definitions/Diffs'
      description:
        description: Description or context surrounding the risk
        type: string
        example: Domains must be renewed within specified intervals to maintain ownership of the name. The minimum interval is 1 year and the maximum interval is 10 years. If a domain is not renewed within the appropriate interval, the domain name becomes “expired.” There is a 30 day grace period where the domain owner can still renew the expired domain name. After that, the domain can be purchased by a third party
      group:
        description: The ID of the risk class
        type: string
      id:
        description: The ID of risk
        type: string
      name:
        description: The name of the risk
        type: string
        example: Domain expired
      remediation:
        description: Remediation recommendation
        type: string
        example: The domain should be renewed as soon as possible with the registrar. Domains can be configured with auto-renewal to ensure that they are renewed before the expiration date
      riskDetails:
        description: Detailed description of the risk
        type: string
        example: This domain is expired. An expired domain is no longer functional. Any services relying on the expired domain will become unavailable. In addition to the loss of functionality, expired domains can be snapped up quickly by third parties and used to drive traffic to malicious and fraudulent websites
      riskSubtype:
        description: The subtype of the risk, e.g. the subtype of the verified_vuln:CVE-2021-34473 is CVE-2021-34473. This field will be empty if the risk has no subtype, e.g. for wp_version_exposed, or for generic risks like verified_vuln:* where the subtype is only determined when the full risk is specified.
        type: string
        example: CVE-2021-34473
      riskType:
        description: The type of the risk, e.g. the type of the verified_vuln:CVE-2021-34473 is verified_vuln
        type: string
        example: verified_vuln
      severity:
        $ref: '#/definitions/Severity'
      severityName:
        description: The severity of the risks in human-readable form
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
      sources:
        description: List of sources where the risk was detected, only included if 'include_sources' param is true and there are sources available for the risk
        type: array
        items:
          type: string
        example:
        - 192.168.1.1
        - subdomain.example.com
        - example.com:443
      vendorDiff:
        $ref: '#/definitions/VendorDiff'
  endpointError:
    description: Error details coming from an endpoint
    type: object
    properties:
      error:
        description: A description of the error
        type: string
  VendorRiskOverviewV1ResponsePayload:
    type: object
    title: VendorRiskOverviewV1ResponsePayload contains the risk overview data for vendors.
    properties:
      next_page_token:
        description: Token to retrieve the next page of results. Omitted if there are no more results.
        type: string
        example: eyJ2IjoxMDAsImUiOjE3MDAwMDAwMDAsImgiOiJhYmMxMjMifQ==
      risks:
        description: The list of risks affecting vendors in the portfolio.
        type: array
        items:
          $ref: '#/definitions/externalVendorRisk'
  VendorsRiskDiffs:
    type: object
    properties:
      id:
        description: 'The id of the vendor.

          Its possible for a hostname to change which vendor it belongs to for a number of reasons (eg. Company''s legal entity changes, improved data quality, etc...).

          For this reason, do not assume a hostname will always return the same vendor id.'
        type: integer
        format: int64
      name:
        description: The name of the vendor
        type: string
      primary_hostname:
        description: The primary hostname of the vendor
        type: string
      risksIntroduced:
        description: The risks introduced between start date and end date grouped by class, including previously provisional risks
        type: array
        items:
          $ref: '#/definitions/RiskDiffGroup'
      risksResolved:
        description: The risks resolved between start date and end date grouped by class
        type: array
        items:
          $ref: '#/definitions/RiskDiffGroup'
  DiffStatus:
    type: string
  AvailableRisk:
    type: object
    properties:
      category:
        description: The category of the risk
        type: string
      description:
        description: Description or context surrounding the risk
        type: string
      finding:
        description: Description of the finding
        type: string
      group:
        description: The risk group
        type: string
      id:
        description: The ID of the risk
        type: string
      remediation:
        description: Remediation recommendation
        type: string
      risk:
        description: The risk title
        type: string
      riskDetails:
        description: Detailed description of the risk
        type: string
      severity:
        description: The severity of the risk
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
  Diffs:
    type: array
    items:
      $ref: '#/definitions/Diff'
  QuestionnaireRisksResponsePayloadBody:
    type: object
    properties:
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
        example: '4'
      risks:
        description: The list of questionnaire risks
        type: array
        items:
          $ref: '#/definitions/QuestionnaireRisk'
      total_results:
        description: The total number of risks found.
        type: integer
        format: int64
        example: 10
  RiskDiffGroup:
    type: object
    properties:
      groupID:
        description: The ID of the risk group
        type: string
      highestSeverity:
        description: The highest severity of the risks in this group
        type: integer
        format: int64
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      highestSeverityName:
        description: The highest severity of the risks in this group in human-readable form
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
      name:
        description: The name of the risk group
        type: string
      risks:
        description: The list of risks in this group
        type: array
        items:
          $ref: '#/definitions/RiskDiff'
  externalVendorWithRisk:
    type: object
    title: ExternalVendorWithRisk represents a vendor affected by a risk in the external API.
    properties:
      additional_evidence:
        description: Additional evidence items affected by the risk (for additional evidence risks only)
        type: array
        items:
          $ref: '#/definitions/externalEvidence'
      count_hostnames_failed:
        description: Number of domains/IPs affected (for automated scanning risks only)
        type: integer
        format: int64
      date_detected:
        description: When the risk was first detected (RFC3339 format, omitted if not available)
        type: string
        format: date-time
      is_partially_waived:
        description: Whether risk is partially waived
        type: boolean
      is_waived:
        description: Whether risk is fully waived
        type: boolean
      labels:
        description: Vendor labels
        type: array
        items:
          $ref: '#/definitions/externalLabel'
      name:
        description: Vendor name
        type: string
      primary_hostname:
        description: Primary hostname
        type: string
      questionnaires:
        description: Questionnaires affected by the risk (for questionnaire risks only)
        type: array
        items:
          $ref: '#/definitions/externalSurveyMini'
      score:
        description: Latest vendor score (0-950)
        type: integer
        format: int64
      vendor_id:
        description: Vendor ID
        type: integer
        format: int64
      vendor_tier:
        description: Vendor tier (if assigned)
        type: integer
        format: int64
      vendor_tier_name:
        description: Vendor tier name (if assigned)
        type: string
  ValueMetadataURL:
    type: object
    properties:
      displayText:
        type: string
      url:
        type: string
  QuestionnaireRisksResponsePayloadBodyV2:
    type: object
    properties:
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
        example: '4'
      risks:
        description: The list of questionnaire risks
        type: array
        items:
          $ref: '#/definitions/QuestionnaireRiskV2'
      total_results:
        description: The total number of risks found.
        type: integer
        format: int64
        example: 10
  StringSlice:
    type: array
    items:
      type: string
  SummaryDiffGroup:
    type: object
    properties:
      diffs:
        description: The list of risk diffs in this group
        type: array
        items:
          $ref: '#/definitions/SummaryDiff'
      groupID:
        description: The ID of the risk group
        type: string
      highestSeverity:
        $ref: '#/definitions/Severity'
      highestSeverityName:
        description: The highest severity of the risks in this group in human-readable form
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
      name:
        description: The name of the risk group
        type: string
  VendorDiff:
    type: object
    properties:
      expected:
        description: The expected status
        type: string
      metaValueA:
        description: Metadata for the result of the first check
        type: string
      metaValueB:
        description: Metadata for the result of the second check
        type: string
      prevProvisionalID:
        description: Previous provisional ID if the last scan contained it
        type: string
      statusA:
        $ref: '#/definitions/DiffStatus'
      statusB:
        $ref: '#/definitions/DiffStatus'
  ScanDiff:
    type: object
    properties:
      expected:
        description: The expected status
        type: string
      hostname:
        description: The domain name or IP address experiencing the risk diff
        type: string
      property:
        description: The property checked
        type: string
      scanA:
        $ref: '#/definitions/ScanResult'
      scanB:
        $ref: '#/definitions/ScanResult'
  externalSurveyMini:
    type: object
    title: ExternalQuestionnaireMini represents a questionnaire in the external API.
    properties:
      id:
        description: Survey ID
        type: integer
        format: int64
      is_public:
        description: Whether this is a public survey
        type: boolean
      name:
        description: Survey name
        type: string
  externalVendorRisk:
    type: object
    title: ExternalVendorRisk represents a risk that affects one or more vendors.
    properties:
      adjusted_severity:
        description: 'The adjusted severity if the risk severity has been customized.

          If present, this indicates the original severity before adjustment.'
        type: string
        example: high
      category_title:
        description: The human-readable title of the risk category.
        type: string
        example: Email Security
      classification:
        description: The classification of the risk (for survey risks only).
        type: string
      date_first_detected:
        description: The date when this risk was first detected (omitted if not available).
        type: string
        format: date-time
        example: '2024-01-15T10:30:00Z'
      description:
        description: A detailed description of the risk.
        type: string
        example: No SPF record is configured for this domain
      fact_category:
        description: The category of the risk fact.
        type: string
        example: email_security
      id:
        description: The unique identifier for the risk.
        type: string
        example: dns_spf_not_configured
      is_verified_vuln:
        description: Indicates if this is a verified vulnerability.
        type: boolean
        example: false
      known_exploited_vulnerability:
        description: Indicates whether the vulnerability is known to be actively exploited.
        type: boolean
        example: true
      num_failed_vendors:
        description: The number of vendors that have failed this risk.
        type: integer
        format: int64
        example: 5
      risk_type:
        description: 'The type of risk: "cloudscan", "survey", or "additional_evidence".'
        type: string
        example: cloudscan
      severity:
        description: 'The severity of the risk: "info", "low", "medium", "high", or "critical".'
        type: string
        example: medium
      title:
        description: The title of the risk.
        type: string
        example: SPF record not configured
  externalEvidence:
    type: object
    title: ExternalEvidence represents evidence in the external API.
    properties:
      datastore_vendor_id:
        description: Vendor ID
        type: integer
        format: int64
      id:
        description: Evidence ID
        type: integer
        format: int64
      name:
        description: Evidence name
        type: string
  RiskDiff:
    type: object
    properties:
      category:
        description: The category of the risk group
        type: string
        enum:
        - website_sec
        - email_sec
        - network_sec
        - ip_domain_reputation
        - brand_protect
        - attack_surface
        - dns
        - vulnerability_management
        - data_leakage
        - encryption
        - questionnaire_risks
        - vulns
        - typosquatting
        - emailexposures
        - dataleaks
        - additional_evidence
      description:
        description: Description or context surrounding the risk
        type: string
        example: Domains must be renewed within specified intervals to maintain ownership of the name. The minimum interval is 1 year and the maximum interval is 10 years. If a domain is not renewed within the appropriate interval, the domain name becomes “expired.” There is a 30 day grace period where the domain owner can still renew the expired domain name. After that, the domain can be purchased by a third party
      group:
        description: The ID of the risk class
        type: string
        example: domain
      id:
        description: The ID of risk
        type: string
        example: domain_expired
      name:
        description: The name of the risk
        type: string
        example: Domain Expired
      remediation:
        description: Remediation recommendation
        type: string
        example: The domain should be renewed as soon as possible with the registrar. Domains can be configured with auto-renewal to ensure that they are renewed before the expiration date
      riskDetails:
        description: Detailed description of the risk
        type: string
        example: This domain is expired. An expired domain is no longer functional. Any services relying on the expired domain will become unavailable. In addition to the loss of functionality, expired domains can be snapped up quickly by third parties and used to drive traffic to malicious and fraudulent websites
      riskSubtype:
        description: The subtype of the risk, e.g. the subtype of the verified_vuln:CVE-2021-34473 is CVE-2021-34473. This field will be empty if the risk has no subtype, e.g. for wp_version_exposed, or for generic risks like verified_vuln:* where the subtype is only determined when the full risk is specified.
        type: string
        example: CVE-2021-34473
      riskType:
        description: The type of the risk, e.g. the type of the verified_vuln:CVE-2021-34473 is verified_vuln
        type: string
        example: verified_vuln
      scanDiffs:
        description: The differences between our automated scans
        type: array
        items:
          $ref: '#/definitions/ScanDiff'
      severity:
        description: The severity of the risk
        type: integer
        format: int64
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      severityName:
        description: The severity of the risks in human-readable form
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
      vendorDiff:
        $ref: '#/definitions/VendorDiff'
  externalHostnameRisk:
    type: object
    title: ExternalHostnameRisk represents risk details for a hostname in the external API.
    properties:
      date_detected:
        description: When the risk was first detected (RFC3339 format, omitted if not available)
        type: string
        format: date-time
        example: '2024-01-15T10:30:00Z'
      hostname:
        description: The hostname
        type: string
        example: example.com
      is_custom:
        description: Whether this is a custom hostname
        type: boolean
        example: false
      risk_id:
        description: The risk ID
        type: string
        example: dns_spf_not_configured
      scanned_at:
        description: When the hostname was last scanned (RFC3339 format)
        type: string
        format: date-time
        example: '2024-01-15T10:30:00Z'
      score:
        description: The security score for the hostname (0-950)
        type: integer
        format: int64
        example: 750
  AvailableRiskV2:
    type: object
    properties:
      category:
        description: The category of the risk. This field will be omitted for generic risks
        type: string
        example: dns
      description:
        description: Description or context surrounding the risk. This field will be omitted for generic risks
        type: string
        example: Domains must be renewed within specified intervals to maintain ownership of the name. The minimum interval is 1 year and the maximum interval is 10 years. If a domain is not renewed within the appropriate interval, the domain name becomes “expired.” There is a 30 day grace period where the domain owner can still renew the expired domain name. After that, the domain can be purchased by a third party
      finding:
        description: Description of the finding. This field will be omitted for generic risks
        type: string
        example: Domain expired
      generic:
        description: 'Flag indicating whether the risks is a generic risk, i.e. a risk where severity,

          category, finding etc. depend on other parameters'
        type: boolean
        example: false
      group:
        description: The risk group
        type: string
        example: domain
      id:
        description: The ID of the risk
        type: string
        example: domain_expired
      remediation:
        description: Remediation recommendation. This field will be omitted for generic risks
        type: string
        example: The domain should be renewed as soon as possible with the registrar. Domains can be configured with auto-renewal to ensure that they are renewed before the expiration date
      risk:
        description: The risk title
        type: string
        example: Domain at risk of being hijacked
      riskDetails:
        description: Detailed description of the risk. This field will be omitted for generic risks
        type: string
        example: This domain is expired. An expired domain is no longer functional. Any services relying on the expired domain will become unavailable. In addition to the loss of functionality, expired domains can be snapped up quickly by third parties and used to drive traffic to malicious and fraudulent websites
      riskSubtype:
        description: The subtype of the risk, e.g. the subtype of the verified_vuln:CVE-2021-34473 is CVE-2021-34473. This field will be empty if the risk has no subtype, e.g. for wp_version_exposed, or for generic risks like verified_vuln:* where the subtype is only determined when the full risk is specified.
        type: string
        example: CVE-2021-34473
      riskType:
        description: The type of the risk, e.g. the type of the verified_vuln:CVE-2021-34473 is verified_vuln
        type: string
        example: verified_vuln
      severity:
        description: The severity of the risk. This field will be omitted for generic risks
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
        example: critical
  QuestionnaireRisk:
    type: object
    properties:
      controls:
        $ref: '#/definitions/StringSlice'
      createdAt:
        description: The time the risk was first seen
        type: string
        format: date-time
        example: '2022-03-20T23:25:26.419947Z'
      inRemediation:
        description: Flag indicating whether the risk is in remediation
        type: boolean
        example: false
      questionnaireId:
        description: The ID of the questionnaire this risk belongs to
        type: integer
        format: int64
        example: 4
      riskCategory:
        description: The category of the risk
        type: string
        example: secprog
      riskExplanation:
        type: string
      riskId:
        description: THe ID of the risk
        type: string
        example: warn_secprog_nopolicies
      riskName:
        description: The name of the risk
        type: string
        example: Inadequate security policies
      riskSeverity:
        description: The severity of the risk
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
        example: low
      riskText:
        description: The description of the risk
        type: string
        example: Security policies are an important tool for establishing authoritative security requirements and enforcing them throughout the company. Policies form the basis of any security program.
      riskWaivers:
        description: List of risk waivers associated with the risk
        type: array
        items:
          $ref: '#/definitions/QuestionnaireRiskWaiver'
      riskWhy:
        type: string
      vendorId:
        description: The ID of the vendor this risk belongs to
        type: integer
        format: int64
        example: 123456789
  QuestionnaireRiskWaiver:
    type: object
    properties:
      active_at:
        type: string
        format: date-time
      approved_by:
        type: string
      created_by:
        type: string
      expires_at:
        type: string
        format: date-time
      justification:
        type: string
  QuestionnaireRiskV2:
    type: object
    properties:
      controls:
        $ref: '#/definitions/StringSlice'
      createdAt:
        description: The time the risk was first seen
        type: string
        format: date-time
        example: '2022-03-20T23:25:26.419947Z'
      inRemediation:
        description: Flag indicating whether the risk is in remediation
        type: boolean
        example: false
      isSharedQuestionnaire:
        description: Flag indicating whether the risk arise from a shared questionnaire. This field will be present
        type: boolean
        example: true
      questionnaireId:
        description: The ID of the questionnaire this risk belongs to
        type: integer
        format: int64
        example: 4
      riskCategory:
        description: The category of the risk
        type: string
        example: secprog
      riskExplanation:
        type: string
      riskId:
        description: THe ID of the risk
        type: string
        example: warn_secprog_nopolicies
      riskName:
        description: The name of the risk
        type: string
        example: Inadequate security policies
      riskSeverity:
        description: The severity of the risk
        type: string
        enum:
        - pass
        - info
        - low
        - medium
        - high
        - critical
        example: low
      riskText:
        description: The description of the risk
        type: string
        example: Security policies are an important tool for establishing authoritative security requirements and enforcing them throughout the company. Policies form the basis of any security program.
      riskWaivers:
        description: List of risk waivers associated with the risk
        type: array
        items:
          $ref: '#/definitions/QuestionnaireRiskWaiver'
      riskWhy:
        type: string
      vendorId:
        description: The ID of the vendor this risk belongs to
        type: integer
        format: int64
        example: 123456789
  ExternalVendorHostnamesWithRiskResponse:
    type: object
    title: ExternalVendorHostnamesWithRiskResponse contains the hostnames and risk details for a vendor.
    properties:
      hostnames_with_risk:
        description: List of hostnames affected by the risk
        type: array
        items:
          type: string
      risk_details_by_hostname:
        description: Risk details keyed by hostname
        type: object
        additionalProperties:
          $ref: '#/definitions/externalHostnameRisk'
  externalLabel:
    type: object
    title: ExternalLabel represents a vendor label in the external API.
    properties:
      id:
        description: Label ID
        type: integer
        format: int64
      name:
        description: Label name
        type: string
  GetRisksV1RespBody:
    type: object
    properties:
      risks:
        description: The list of vendor risks that have been detected.
        type: array
        items:
          $ref: '#/definitions/Risk'
  VendorsRisksDiffResponsePayloadBody:
    type: object
    properties:
      next_page_token:
        description: 'The token to be used to retrieve the next page of results.

          Will not be returned if there are no more results.'
        type: string
      total_results:
        description: The total number of vendors found.
        type: integer
        format: int64
      vendors:
        description: The list of vendors found
        type: array
        items:
          $ref: '#/definitions/VendorsRiskDiffs'
  ScanResult:
    type: object
    properties:
      date:
        description: The date of the scan (RFC 3339 format)
        type: string
        format: date-time
      metaValue:
        description: Metadata for the result of the check
        type: string
      status:
        description: The check status after the automated scan
        type: string
        enum:
        - PASS
        - FAIL
        - UNKNOWN
        - WAIVED
  Risk:
    type: object
    properties:
      category:
        description: The risk category identifier
        type: string
        example: dns
      description:
        description: Description or context surrounding the risk
        type: string
        example: Domains must be renewed within specified intervals to maintain ownership of the name. The minimum interval is 1 year and the maximum interval is 10 years. If a domain is not renewed within the appropriate interval, the domain name becomes “expired.” There is a 30 day grace period where the domain owner can still renew the expired domain name. After that, the domain can be purchased by a third party
      finding:
        description: A short description of the finding
        type: string
        example: Domain expired
      firstDetected:
        description: When the risk was first detected
        type: string
        format: date-time
        example: '"2019-10-12T07:20:50.52Z"'
      hostnameCount:
        description: The number of hostnames where the risk was detected
        type: integer
        format: int64
        example: 2
      hostnameMeta:
        description: Map of meta for each hostname, only included if 'include_meta' param is true and there is meta available for the risk
        type: object
        additionalProperties:
          type: string
        example:
          example.com: '''SMTP'': [listening on port 25]'
      hostnames:
        description: The hostnames where the risk was detected, only included if 'exclude_hostnames' param is false
        type: array
        items:
          type: string
        example:
        - example.com
        - subdomain.example.com
      id:
        description: The risk identifier
        type: string
        example: domain_expired
      remediation:
        description: Remediation recommendation
        type: string
        example: The domain should be renewed as soon as possible with the registrar. Domains can be configured with auto-renewal to ensure that they are renewed before the expiration date
      risk:
        description: Detailed description of the risk
        type: string
        example: This domain is expired. An expired domain is no longer functional. Any services relying on the expired domain will become unavailable. In addition to the loss of functionality, expired domains can be snapped up quickly by third parties and used to drive traffic to malicious and fraudulent websites
      riskSubtype:
        description: The subtype of the risk, e.g. the subtype of the verified_vuln:CVE-2021-34473 is CVE-2021-34473. This field will be empty if the risk has no subtype, e.g. for wp_version_exposed, or for generic risks like verified_vuln:* where the subtype is only determined when the full risk is specified.
        type: string
        example: CVE-2021-34473
      riskType:
        description: The type of the risk, e.g. the type of the verified_vuln:CVE-2021-34473 is verified_vuln
        type: string
        example: verified_vuln
      risk_waivers:
        description: List of risk waivers applicable to this risk
        type: array
        items:
          $ref: '#/definitions/RiskWaiver'
      severity:
        description: The risk severity
        type: string
        example: high
      sources:
        description: List of sources where the risk was detected, only included if 'include_sources' param is true and there are sources available for the risk
        type: array
        items:
          type: string
        example:
        - 192.168.1.1
        - subdomain.example.com
        - example.com:443
  RiskWaiver:
    type: object
    properties:
      active_at:
        description: Time the risk waiver was activated (RFC 3339 format)
        type: string
        format: date-time
        example: '"2019-10-12T07:20:50.52Z"'
      all_hostnames:
        description: Flag indicating whether the risk has been waived for all hostnames
        type: boolean
        example: false
      approved_by:
        description: Email address of the user who approved the risk waiver. This field will be omitted if not applicable, e.g. self approved risk waivers.
        type: string
        example: '"john@example.com"'
      created_by:
        description: Email address of the user who created the risk waiver
        type: string
        example: '"john@example.com"'
      expires_at:
        description: Time the risk waiver will expire (RFC 3339 format). If the risk waiver is set not to expire this field will be omitted.
        type: string
        format: date-time
        example: '"2019-10-12T07:20:50.52Z"'
      hostnames:
        description: The list of hostnames the risk has been waived for. The field will be omitted if all_hostnames is true.
        type: array
        items:
          type: string
        example:
        - example.com
        - subdomain.example.com
      justification:
        description: Justification for the risk waiver. If not available this field will be omitted.
        type: string
        example: '"Loren Ipsum"'
  Severity:
    type: integer
    format: int64
  RisksDiffResponsePayloadBody:
    type: object
    properties:
      risksIntroduced:
        description: The risks introduced between start date and end date grouped by class
        type: array
        items:
          $ref: '#/definitions/SummaryDiffGroup'
      risksResolved:
        description: The risks resolved between start date and end date grouped by class
        type: array
        items:
          $ref: '#/definitions/SummaryDiffGroup'
  ValueMetadata:
    type: object
    properties:
      description:
        type: string
      resolvesAfter:
        type: string
        format: date-time
      resolvesAfterEvent:
        type: string
      urls:
        type: array
        items:
          $ref: '#/definitions/ValueMetadataURL'
securityDefinitions:
  API key in header:
    type: apiKey
    in: header
    name: Authorization
