openapi: 3.2.0
info:
  description: 'Access information from the CyberRisk platform programmatically using this API.


    You can find or generate an API key to access this API in your CyberRisk Account Settings.

    Please authorize all requests by setting the "Authorization" header to your api key.


    The base url for all public endpoints is https://cyber-risk.upguard.com/api/public'
  title: UpGuard CyberRisk Organisation API
  version: 1.13.2
servers:
- url: https://cyber-risk.upguard.com/api/public
security:
- API key in header: []
tags:
- name: Organisation
paths:
  /organisation:
    get:
      description: 'Returns the information of the organisation associated with the API key used for the request.


        Required API key permissions: `Platform` (select when creating API key in Account Settings)'
      tags:
      - Organisation
      summary: Get the current organisation
      operationId: getOrganisationV1
      responses:
        '200':
          description: Information about the current organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganisationV1RespBody'
        '422':
          description: An invalid parameter was supplied or a mandatory parameter was missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/endpointError'
        '429':
          description: Too many requests have been made to this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/endpointError'
        '500':
          description: An internal system error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/endpointError'
components:
  schemas:
    endpointError:
      description: Error details coming from an endpoint
      type: object
      properties:
        error:
          description: A description of the error
          type: string
    CategoryScores:
      description: A collection of category scores for a vendor
      type: object
      properties:
        attackSurface:
          type: integer
          format: int64
        brandProtection:
          description: 'DEPRECATED: Use operationalRisk'
          type: integer
          format: int64
        brandReputation:
          description: 'DEPRECATED: Use operationalRisk'
          type: integer
          format: int64
        dataLeakage:
          type: integer
          format: int64
        dns:
          type: integer
          format: int64
        emailSecurity:
          type: integer
          format: int64
        encryption:
          type: integer
          format: int64
        ipDomainReputation:
          type: integer
          format: int64
        networkSecurity:
          type: integer
          format: int64
        operationalRisk:
          type: integer
          format: int64
        phishing:
          description: 'DEPRECATED: Use ipDomainReputation'
          type: integer
          format: int64
        questionnaires:
          type: integer
          format: int64
        vulnerabilityManagement:
          type: integer
          format: int64
        websiteSecurity:
          type: integer
          format: int64
    GetOrganisationV1RespBody:
      type: object
      properties:
        automatedScore:
          description: The automated score of the organisation. Omitted if no current scanning score.
          type: integer
          format: int64
        categoryScores:
          $ref: '#/components/schemas/CategoryScores'
        id:
          description: The id of the organisation
          type: integer
          format: int64
          example: 12345678
        name:
          description: The name of the organisation
          type: string
          example: UpGuard
        primary_hostname:
          description: The primary hostname of the organisation
          type: string
          example: upguard.com
  securitySchemes:
    API_key_in_header:
      type: apiKey
      in: header
      name: Authorization
